@font-face{
    font-family: santio;
    src: url(santio/TTF/Santio\ Black.ttf);
    src: url(santio/TTF/Santio\ Bold.ttf);
    src: url( santio/TTF/Santio\ Boldline.ttf);
    src: url(santio/TTF/Santio\ Inline.ttf);
    src: url(santio/TTF/Santio\ light.ttf);
    src: url(santio/TTF/Santio\ regular.ttf);

}

*{
    box-sizing: border-box;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

body{
    
    margin: 0;
    padding: 0;
    font-family: santio;
}

.blackdiv{
background-color: rgba(0, 0, 0, 0.548);    
width: 100%;
height: 650vh;

}

main{
    width: 100%;
    height: 650vh;
    background-image: url(../img/1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin-bottom: 0;
}

.sec1{
    padding-left: 10%;
    height: 100vh;
}

.navhead{
    text-align: right;
    padding-right: 5%;


}

.navhead >img{
    width: 20px;
    display: inline-block;
    margin-top: 0;
    color: #e7bc0e ;
}

.navhead > a{
    text-decoration: underline #e7bc0e ;
    color: #ffffff;
    display: inline-block;
    margin-top: 40px;
    font-weight: 500;
    font-family: roboto;
}

.sec1 > h1{
    color: #ffffff;
    font-family: Roboto;
    font-size: 100px;
    text-shadow: 0px 0px 1px  black;
    font-family: santio;
    margin-top: 10vh; 
}


.sec1 > h5{
    color: #e7bc0e ;
    font-family: mr dafoe;
    font-size: 35px;
}

.sec1 > h5 > a{
    text-decoration: none;
    color: #e7bc0e ;
}

.sec1 > h5 > a:hover{
  
    color: #cb91b6;
}

.sec1 > h5 >span{
    margin: 0 20px;
}

.sec2{
    padding-left: 5%;
    height: 140vh;
    padding-top: 10vh;
}
.sec2 > p > span{
    color: rgb(255, 255, 255);
    background-color: #316150 ;
}
.sec2 >  p{
    width: 70%;
    text-align: left;
    line-height: 70px;
    font-size: 40px;
    color:#83cfb5 ;
    font-weight: 500;
    text-shadow: 0px 0px 2px black;
    font-family: santio;
    font-weight: 400;
    margin-top: 20vh;
}

.sec3{
    height: 100vh;

}

.sec3 > img{
  display: block;
  width: 150px;
  height: 150px;
  margin-left:20% ;
}

.sec3 > h1{
    margin: 0;
    margin-top: 5vh;
    font-size:150px ;
    color: #e7bc0e ;
    margin-left:20% ;
}

.sec3 > h3{
    font-size:70px ;
    color: #e7bc0e ;
    margin: 0;
    font-size: 39px;
    margin-left:20% ;

}

.sec3 >h3 >span{

    color: rgb(255, 255, 255);
    background-color: #316150 ;
}



.sec4{
    width: 100%;
    height: 100vh;
}


.sec4 > img{
    display: block;
    width: 150px;
    height: 150px;
    margin-left:50%;
    
}

.sec4 > h3{
    font-size:70px ;
    color: #e7bc0e ;
    margin: 0;
    font-size: 39px;
    margin-left:50% ;
    color: #cb91b6;
    margin-top: 4vh;
   

}

.sec4 > h3 >span{
    color: rgb(255, 255, 255);
    background-color: #316150 ;
}

.sec4 > h1{
    margin: 0;
    margin-top: 5vh;
    font-size:150px ;
    margin-left:50% ;
    color: #cb91b6;
}


.sec5{
    width: 100%;
    height: 100vh;
}

.sec5 > img{
    display: block;
    width: 150px;
    height: 150px;
    margin-left:20% ;

}

.sec5 > h1{
    margin: 0;
    margin-top: 5vh;
    font-size:150px ;
    margin-left:20% ;
    color: #a9ad92;
    margin-top: 4vh;

}


.sec5 > h3{
    font-size:70px ;
    color: #e7bc0e ;
    margin: 0;
    font-size: 39px;
    margin-left:20% ;
    color: #cb91b6;
    margin-top: 4vh;
    color: #a9ad92;
    margin-top: 2vh;
}

.sec5 > h3 > span {
    color: rgb(255, 255, 255);
    background-color: #316150 ;
}

.sec6{

    width: 100%;
    height: 100vh;
    padding: 0;
    padding-left: 30%;
    padding-right: 10%;

    /* padding-left: 10%; */
    
}

.sec6 > p{
    color:#7eb8e1 ;
    width: 100%;
    text-align: justify;
    font-size: 40px;
    line-height: 60px;
    margin-bottom: 0;
    

}
.sec6 > p >span{
    color: rgb(255, 255, 255);
    background-color: #316150 ;
}

.sec7{
    height: 150vh;
    background-image: url(../img/see.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(246, 252, 255);
    
}

.sec7 > .sec7-2 {
    background-image: url(../img/kid.png);
    width: 100%;
    height: 100%;
    background-size: cover;
}

footer{
    background-color: black;
    height: 150vh;
    padding-top: 20vh;
    padding-bottom: 0;
    position: relative;

    

}

footer > h1{
    margin: 0;
    color: white;
    padding-left: 10%;
    margin-bottom: 5vh;
    font-size: 110px;

}

footer > a{
    display: inline-block;
    padding: 20px 80px;
    background-color: black;
    border: 1px solid white;
    text-decoration: none;
    color: white;
    margin-left: 10%;
}

footer > a:hover{
    box-shadow: 5px 5px 1px white;
}

footer > p{
    color: white;
    position: absolute;
    top: 97%;
    left: 40%;
    font-size: 10px;
    

}


footer > p > a {
    color: #316150 ;
    text-decoration: none;
}

footer > p > a:hover{
    text-decoration: underline #316150 ;
}

